<ul class="nav nav-pills">	
	<li <%=raw(current_controller('customer_center/questions')) %>><%=link_to '견적문의',customer_center_questions_path %></li>
	<li <%=raw(current_controller('customer_center/guest_books')) %>><%=link_to '상담',customer_center_guest_books_path %></li>
	<li <%=raw(current_controller('customer_center/faqs')) %>><%=link_to 'FAQ',customer_center_faqs_path %></li>
	<li <%=raw(current_controller('customer_center/notices')) %>><%=link_to '공지사항',customer_center_notices_path %></li>
</ul>
<div class="clearfix">&nbsp;</div>
