<section id="maintain_index">
  <section>
    <h2>상품목록</h2>
    	<% unless @maintain.empty? %>
    	<% @maintain.each do |maintain| %>
    	<article class="maintain">
    	  <%=link_to maintain do %>
    	  <figure>
    	    <%=image_tag maintain.photo.medium_thumb %>
    	  </figure>
			<% end %>
			<h2><%=maintain.title %></h2>
		</article>
		<% end %>
		<% end %>
	</section>
	<div id="sl_bottom_menu">
		<% if user_signed_in? %>
		<% if current_user.admin? %>
		<%= link_to t(:link_new), new_maintain_path %>
		<% end %>
		<% end %>
		<%= paginate @maintain %>
	</div>
</section>