<section class="main_list main_template_lastest row">
  <h2><%=t('activerecord.models.template') %></h2>
  <div class="template none">
		<div class="template_img">
			<input type="hidden" value="">
			<a href=""  target="_blank">
				<img src="" alt="" />
			</a>
		</div>
		<div class="bottom_link">
			<a href="">데모</a><span class="devide_word">|</span>
			<a href="" target="_blank">상세</a>
		</div>
		<p class="package_name"></p>
	</div>
	<div>
		<% unless @template_lastests.empty? %>
			<% @template_lastests.each_with_index do |template,index| %>
				<article class="template">
					<div class="template_img">
						<input type="hidden" value="<%=template.main_screenshot %>" />
						<%=link_to template_path(:id=>template,:product=>template.template_type.product_id),:target=>'_blank',:class=>'detail_link' do %>
						<%=image_tag template.small_screenshot %>
						<% end %>
					</div>
					<div class="bottom_link">
						<%=link_to '데모',:html=>{:target=>'_blank',:class=>'demo_link'} %><span class="devide_word">|</span>
						<%=link_to '상세',template_path(template,:product=>template.template_type.product_id,),:target=>'_blank',:class=>'detail_link'  %>
					</div>
					<dl>
						<dt>Type</dt>
						<dd><%=template.template_type.name %></dd>
						<dt>ID</dt>
						<dd><%=template.id %></dd>
					</dl>
				</article>
			<% end %>
		<% else %>
		<p></p>
		<% end %>
	</div>
	<%=link_to 'more',templates_path,{:title=>'템플릿 더보기',:class=>'more'} %>
</section>