<section class="template_list">
	<div class="top">
		<h2>디자인시안</h2>
		<%=link_to 'more',templates_path,{:title=>'템플릿 더보기',:class=>'more'} %>
		<a class="next"><span>다음</span></a>
		<a class="prev"><span>이전</span></a>		
	</div>
	<div class="template none">
		<div class="template_img">
			<input type="hidden" value="">
			<a href=""  target="_blank">
				<img src="" alt="" />
			</a>
		</div>
		<div class="bottom_link">
			<a href="">데모</a><span class="devide_word">|</span>
			<a href="" target="_blank">상세</a>
		</div>
		<p class="package_name"></p>
	</div>
	<div class="products_search_link">
		<span class="design_style_count none">(<!--{allCount}-->)</span>
		<ul>
			<% @products.each do |product| %>
			<li><%=link_to product.title,templates_path(:product_id=>product) %></li>
			<% end %>
		</ul>
		<span id="shit_right">&nbsp;</span>
		<div id="shit_move"><span id="shit_move_left">&nbsp;</span><span id="shit_move_center">&nbsp;</span><span id="shit_move_right">&nbsp;</span></div>
	</div>
	<div class="scrollable">
		<% unless @templateSliders.empty? %>
		<ul class="items">
			<% @templateSliders.each_slice(5) do |template5| %>	
			<li>
			<% template5.each_with_index do |template,index| %>
	<article class="template<% if(index+1==5) %> nm<% end %>">
		<div class="template_img">
			<input type="hidden" value="<%=template.main_screenshot %>" />
			<%=link_to template_path(:id=>template,:product=>template.template_type.product_id),:html=>{:target=>'_blank',:class=>'detail_link'} do %>
				<%=image_tag template.small_screenshot %>
			<% end %>
		</div>
		<div class="bottom_link">
			<%=link_to '데모',:html=>{:target=>'_blank',:class=>'demo_link'} %><span class="devide_word">|</span>
			<%=link_to '상세',template_path(template,:product=>template.template_type.product_id,),:html=>{:target=>'_blank',:class=>'detail_link'}  %>
		</div>
		<dl>
			<dt>Type</dt>
			<dd><%=template.template_type.name %></dd>		
			<dt>ID</dt>
			<dd><%=template.id %></dd>
		</dl>		
	</article>
			<% end %>
			</li>
		<% end %>
		</ul>
		<% else %>
		<p></p>
		<% end %>
	</div>
</section>