<%= render :partial => 'templates/search_form' %>
<section id="template_index">	
		<article class="template none">
			<div class="template_img">
				<input type="hidden" value="" />
					<%=link_to '',:html=>{:target=>'_blank',:class=>'detail_link'} do %>
					<%=image_tag '' %>
				<% end %>
			</div>
			<div class="bottom_link">
				<%=link_to '데모','',:html=>{:target=>'_blank',:class=>'demo_link'} %><span class="devide_word">|</span>
				<%=link_to '상세','',:html=>{:target=>'_blank',:class=>'detail_link'}  %>
			</div>
			<dl>
				<dt>Type</dt>
				<dd></dd>		
				<dt>ID</dt>
				<dd></dd>
			</dl>
		</article>
		<% unless @templates.empty? %>
		<% @templates.each_with_index do |template,index| %>
		<article class="template">
			<div class="template_img">
				<input type="hidden" value="<%=template.main_screenshot %>" />
				<%=link_to template_path(:id=>template,:product=>template.template_type.product_id),:target=>'_blank',:class=>'detail_link' do %>
					<%=image_tag template.small_screenshot %>
				<% end %>
			</div>
			<div class="bottom_link">
				<%=link_to '데모',:html=>{:target=>'_blank',:class=>'demo_link'} %><span class="devide_word">|</span>
				<%=link_to '상세',template_path(template,:product=>template.template_type.product_id,),:target=>'_blank',:class=>'detail_link'  %>
			</div>
			<dl>
				<dt>Type</dt>
				<dd><%=template.template_type.name %></dd>		
				<dt>ID</dt>
				<dd><%=template.id %></dd>
			</dl>
		</article>
		<% end %>
		<% else %>
		<p class="nonData"><%=t(:no_data)%></p>	
		<% end %>
  <div id="sl_bottom_menu">
  <% if can? :create, Template %>
    <%= link_to t(:link_new), new_template_path,:rel=>"nofollow" %>
  <% end %>
  <%= paginate @templates %>
  </div>
</section>
<%= render :partial => 'templates/aside' %>
