<aside>
	<nav>
		<ul>
			<li><%=link_to 'template_authors',:controller=>'template_authors' %></li>
			<li><%=link_to 'template_types',:controller=>'template_types' %></li>			
			<li><%=link_to 'template_categories',:controller=>'template_categories' %></li>			
			<li><%=link_to 'template_packages',:controller=>'template_packages' %></li>				
			<li><%=link_to 'template_softwares', :controller=>'template_softwares' %></li>
			<li><%=link_to 'template_sources', :controller=>'template_sources' %></li>
			<li><%=link_to 'templates', :controller=>'templates' %></li>
		</ul>
	</nav>
</aside>