<section class="sub_main">
	<%= render :partial => 'sliders/image_slider' %>
	<%= render :partial => 'templates/recommend_slider_by_products' %>
	<%= render :partial => 'templates/recommend_slider_by_categories' %>	
	<%= render :partial => 'products/tab_list' %>
	<%= render :partial => 'customer_center/list' %>
	<%= render :partial => 'templates/lastest' %>
	<%= render :partial => 'maintain/list' %>	
</section>