<section id="faq_category_new" class="sub_main">
	<div class="section_top">
		<h1><%=@controller_name %></h1>
		<p class="path"><%=link_to_home %> &gt; <span>고객센터</span> &gt; <strong><%=@controller_name %></strong></p>		
	</div>	
	<%= render 'form' %>
	<%= link_to '목록으로', customer_center_faqs_path(:faq_category_id=>@faq_category) %>
</section>
