<section id="sl_project_index">
  <% unless @projects.empty? %>
  <% @projects.each do |project| %>
  <article class="media">
    <%=link_to project_path(project),:target=>'_blank',:class=>"pull-left" do %>
		  <figure>
		    <%=image_tag project.photo.medium_thumb %>
		    <figcaption><%=project.title %></figcaption>
		  </figure>
  		<% end %>
    <div class="media-body">
    <h4 class="media-heading"><%=link_to project.title,project %></h4>
    <%=simple_format project.description %>
		</div>
	</article>
	<% end %>
	
	<% else %>
	<article>
		<p><%=t(:no_data) %></p>
	</article>
	<% end %>
  <div id="sl_bottom_menu">
  <% if can? :create, Project %>
    <%= link_to t(:link_new), new_project_path %>
  <% end %>
  <%= paginate @projects %>
  </div>
</section>
