<section id="template_authors" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">KB 임직원의 마음</h4>
    </div>
    <div class="modal-body">
  
  <% unless @template_authors.empty? %>
  <% @template_authors.each_slice(15) do |template_author10| %>
  <ul class="template_authors">
    <% template_author10.each do |template_author| %>
    <li>
      <input type="checkbox" id="template_author_<%=template_author.id %>" name="template_author[]" value="<%=template_author.id %>" />
      <label for="template_author_<%=template_author.id %>" ><%=template_author.name %></label>
    </li>
    <% end %>
  </ul>
  <% end %>
  <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"><%=t(:confirm) %></button>
    </div>

</section>
<script type="text/javascript">
	$('#f2 input').each(function(){
		var val1=$(this).val();
		$('#template_authors input').each(function(){
			if(val1==$(this).val())
			$(this).attr('checked','checked');
		});
	});

	$('#template_authors input[type="button"]').click(function(){
		$('#f2').empty();	
		$("#template_authors input:checked").each(function(){
			$('#f2').append('<li><input type="hidden" name="template_author_id[]" value="'+$(this).val()+'" />'+$(this).parent().find('label').text()+'</li>');
		});
		oinst.close();
	});
</script>