<%= form_for [:admin, @admin_menu],:html=>{:class=>'slboard_form'} do |f| %>
	<% if @admin_menu.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@admin_menu.errors.count, "error") %> prohibited this notice from being saved:</h2>
		<ul>
			<% @admin_menu.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="field">
		<%= f.label :title,'제목' %><br />
		<%= f.text_field :title,{'class'=>'sl_input','required'=>'required'} %>
	</div>
	<div class="field">
		<%= f.label :path,'경로' %><br />
		<%= f.text_field :path,{'class'=>'sl_input','required'=>'required'} %>
	</div>
	<div class="field">
		<%= f.label :photo,'사진' %><br />
		<%= f.file_field :photo %>
		<%= f.hidden_field :photo_cache %>
	</div>
	<div class="field">
		<%= f.label :alt,'대체 텍스트' %><br />
		<%= f.text_field :alt, {'class'=>'sl_input'} %>
	</div>	
	<div class="actions">
		<%= f.submit '작성' %>
	</div>
<% end %>
